*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    /* background:url(https://images.squarespace-cdn.com/content/v1/56acc1138a65e2a286012c54/1522329772710-DO415TCYVGSQAMRFAI9Q/notes-3236566_1920.jpg?format=1000w); */
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    font-family: sans-serif;
}